.search-box input::placeholder {
  color: #777 !important;
}
.search-box {
  position: relative;
}
.search-box .search-icon {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid var(--secondary-bg);
}
.search-box .fa-search {
  color: rgba(255, 255, 255, 0.92);
  padding-left: 10px;
}
.search-box .form-input {
  height: 50px;
  text-indent: 7px;
  color: rgba(255, 255, 255, 0.92) !important;
  border: 1px solid #777 !important;
  border-radius: 50px !important;
  background: var(--primary-bg) !important;
}
.search-box .form-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary) !important;
}
.search-box:hover .form-input {
  border: 1px solid var(--primary) !important;
}
.search-box:hover .fa-search {
  color: var(--primary);
}

@media screen and (max-width: 991px) {
  .search-box .form-input {
    border-radius: 10px !important;
  }
}
